body{
    color: aliceblue;
    background: rgb(147, 162, 184);
    margin: 3px;
    font-family: "Caveat", serif;
    margin-bottom: 100px;
}
header{
    border-bottom: solid 3px rgb(89, 102, 122) ;
    padding: 20px;
    font-size: 32px;
    color: rgb(89, 102, 122);

}

.chamada{
    background: rgb(147, 162, 184);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}